name: Build and Test

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
    - name: Checkout main branch
      uses: actions/checkout@v4
    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
#        cache: "gradle"

    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@ec92e829475ac0c2315ea8f9eced72db85bb337a # v3.0.0

    - name: Build with Gradle Wrapper
      run: ./gradlew build distribution --scan

    - name: Run printVersion task and set env variable
      run: |
        VERSION=$(./gradlew printVersion --quiet)
        echo "Project version is $VERSION"
        echo "PROJECT_VERSION=$VERSION" >> $GITHUB_ENV

    - uses: actions/upload-artifact@v4
      with:
        name: basics-${{ env.PROJECT_VERSION }}
        path: build/dist/basics-${{ env.PROJECT_VERSION }}/*